[user]
	name = Nick Rowlands
	email = nick@rowlando.com
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[alias]
	br = branch
	ci = commit
	co = checkout
	d  = diff
	wdiff = diff --color-words
	st = status -sb
	amend = commit --amend
	pr = pull --rebase
	fu = checkout -f
	hist = log --all --graph --pretty='[%C(cyan)%h%Creset]%C(bold cyan)%d%Creset %s (%an)'
	lp = log -p
  tst = st
[core]
	excludesfile = ~/etc/git/ignore
	autocrlf = input
[credential]
	helper = osxkeychain
[push]
	default = simple
[color]
	ui = true
[help]
	autocorrect = 20
[diff]
	renames = true
[rebase]
  autosquash = true

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
  insteadOf = "gist:"
[commit]
	gpgsign = true
[log]
	date = relative
[format]
	pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s

	