.CFUserTextEncoding
.com.apple.timemachine.supported
.cpan*
.cups
.dvdcss
.macports
.lesshst
.viminfo

.ssh

.gem
.vagrant*

bin/mate

etc/bash/saved_history
etc/less_history

var/encoder.pid

Applications/
Desktop/
Development/
Documents/
Downloads/
.dropbox/
Dropbox/
Encoding/
Library/
Media/
Movies/
Music/
Pictures/
Projects/
Public/
Sites/
Sources/
Virtual Machines/
