.com.apple.timemachine.supported
.DS_Store
.junglediskinstance
.MacOSX
.Trash
.ssh
.subversion

etc/bash/saved_history
etc/less_history

Applications/
Desktop/
Development/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
Sites/
Sources/
