[user]
	email = steve@stevemarshall.com
	name = Steve Marshall
[merge]
	tool = opendiff
[alias]
	br = branch
	ci = commit
	co = checkout
	d  = diff
	wdiff = diff --color-words
	st = status -sb
	amend = commit --amend
	pr = pull --rebase
	fu = checkout -f
	hist = log --all --graph --pretty='[%C(cyan)%h%Creset]%C(bold cyan)%d%Creset %s'
	lp = log -p
  tadd = add
  tpull = pull
  tpush = push
  tstatus = status
  tst = st
[core]
	excludesfile = ~/etc/git/ignore
[credential]
	helper = osxkeychain
[push]
	default = simple
[color]
	ui = true
[help]
	autocorrect = 20
[diff]
	renames = true
[rebase]
  autosquash = true
