.com.apple.timemachine.supported
.ssh

bin/mate

etc/bash/saved_history
etc/less_history

Applications/
Desktop/
Development/
Documents/
Downloads/
Encoding/
Library/
Media/
Movies/
Music/
Pictures/
Projects/
Public/
Sites/
Sources/
